<div class="user">
	<div class="photo">
		<img src="@ViewBag.Image">
	</div>
	<div class="info">
		<a class="" >
			<span>
				@ViewBag.VName 
				<span class="user-level">Admin</span>
			</span>
		</a>
		
	</div>
</div>