

<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<script type="text/javascript">
	$(document).ready(() => {
		// 1. Bağlantıyı tanımla
		var connection = new signalR.HubConnectionBuilder()
			.withUrl("https://localhost:7042/SignalRHub")
			.withAutomaticReconnect() // Bağlantı koparsa kendi kendine tekrar denesin
			.build();

		// Bağlantı durumunu başta yaz
		$("#connstatus").text(connection.state);

		// 2. Veri Geldiğinde Ekrana Yaz (Dinleyiciler)
		connection.on("NotificationCounts", (values) => {
			$("#notificationcount").text(values);

			$("#count-inside-text").text(values);
		});

		connection.on("NotificatonList",(values)=>{

			$("#notificationlist").empty();

		$.each(values,(index,item)=>{
				let date =new Date(item.date).toLocaleDateString();
		let	notificationlist =`<a href="/Notification/Index">
								<div class="notif-icon notif-primary"> <i class="la la-user-plus"></i> </div>
								<div class="notif-content">
									<span class="block">
										${item.type}
									</span>
									<span class="time">${date}</span>
								</div>
							</a>`;

							$("#notificationlist").append(notificationlist);
		});



		});

		// 3. Bağlantıyı Başlat
		connection.start().then(() => {
			$("#connstatus").text("Bağlandı");
			$("#connstatus").css("color", "green");
		}).catch((err) => {
			console.error(err);
			$("#connstatus").text("Bağlantı Hatası");
		});



		// 4. GÜVENLİ ZAMANLAYICI (Hata verdirmeyen kısım burası)
		setInterval(() => {
			// SADECE ve SADECE bağlantı varsa istek at
			if (connection.state === "Connected") {
				connection.invoke("Notification").catch(err => console.error(err));
			}
			// Bağlantı yoksa hiçbir şey yapma (Böylece hata sayısı artmaz)
		}, 1000);

	});
</script>


<nav class="navbar navbar-header navbar-expand-lg">
	<div class="container-fluid">
		<ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
			
			<li class="nav-item dropdown hidden-caret">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<i class="la la-bell"></i>
					<span class="notification" id="notificationcount"></span>
				</a>
				<ul class="dropdown-menu notif-box" aria-labelledby="navbarDropdown">
					<li>
						<div class="dropdown-title"><span id="count-inside-text"></span> Yeni Bildiriminiz Mevcut</div>
					</li>
					<li>
						<div class="notif-center" id="notificationlist">
						</div>
					</li>
					<li>
						<a class="see-all" href="/Notification/Index"> <strong>Tüm Bildirimleri Gör</strong> <i class="la la-angle-right"></i> </a>
					</li>
				</ul>
			</li>
			@await Component.InvokeAsync("_AdminNavbarPageComponents")
		</ul>
	</div>
</nav>