

<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<script type="text/javascript">
	$(document).ready(() => {
		// 1. Bağlantıyı tanımla
		var connection = new signalR.HubConnectionBuilder()
			.withUrl("https://localhost:7042/SignalRHub")
			.withAutomaticReconnect() // Bağlantı koparsa kendi kendine tekrar denesin
			.build();

		// Bağlantı durumunu başta yaz
		$("#connstatus").text(connection.state);

		// 2. Veri Geldiğinde Ekrana Yaz (Dinleyiciler)
		connection.on("NotificationCounts", (values) => {
			$("#notificationcount").text(values);

			$("#count-inside-text").text(values);
		});

		connection.on("NotificatonList",(values)=>{

			$("#notificationlist").empty();

		$.each(values,(index,item)=>{
				let date =new Date(item.date).toLocaleDateString();
		let	notificationlist =`<a href="#">
								<div class="notif-icon notif-primary"> <i class="la la-user-plus"></i> </div>
								<div class="notif-content">
									<span class="block">
										${item.type}
									</span>
									<span class="time">${date}</span>
								</div>
							</a>`;

							$("#notificationlist").append(notificationlist);
		});

		
			
		});

		// 3. Bağlantıyı Başlat
		connection.start().then(() => {
			$("#connstatus").text("Bağlandı");
			$("#connstatus").css("color", "green");
		}).catch((err) => {
			console.error(err);
			$("#connstatus").text("Bağlantı Hatası");
		});

		

		// 4. GÜVENLİ ZAMANLAYICI (Hata verdirmeyen kısım burası)
		setInterval(() => {
			// SADECE ve SADECE bağlantı varsa istek at
			if (connection.state === "Connected") {
				connection.invoke("Notification").catch(err => console.error(err));
			}
			// Bağlantı yoksa hiçbir şey yapma (Böylece hata sayısı artmaz)
		}, 1000);

	});
</script>


<nav class="navbar navbar-header navbar-expand-lg">
	<div class="container-fluid">

		<form class="navbar-left navbar-form nav-search mr-md-3" action="">
			<div class="input-group">
				<input type="text" placeholder="Search ..." class="form-control">
				<div class="input-group-append">
					<span class="input-group-text">
						<i class="la la-search search-icon"></i>
					</span>
				</div>
			</div>
		</form>
		<ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
			<li class="nav-item dropdown hidden-caret">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<i class="la la-envelope"></i>
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="#">Action</a>
					<a class="dropdown-item" href="#">Another action</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Something else here</a>
				</div>
			</li>
			<li class="nav-item dropdown hidden-caret">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<i class="la la-bell"></i>
					<span class="notification" id="notificationcount"></span>
				</a>
				<ul class="dropdown-menu notif-box" aria-labelledby="navbarDropdown">
					<li>
						<div class="dropdown-title"><span id="count-inside-text"></span> Yeni Bildiriminiz Mevcut</div>
					</li>
					<li>
						<div class="notif-center" id="notificationlist">
							
					

						</div>
					</li>
					<li>
						<a class="see-all" href="javascript:void(0);"> <strong>See all notifications</strong> <i class="la la-angle-right"></i> </a>
					</li>
				</ul>
			</li>
			<li class="nav-item dropdown">
				<a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false"> <img src="~/Ready-Bootstrap-Dashboard-master/assets/img/profile.jpg" alt="user-img" width="36" class="img-circle"><span>Hizrian</span></span> </a>
				<ul class="dropdown-menu dropdown-user">
					<li>
						<div class="user-box">
							<div class="u-img"><img src="~/Ready-Bootstrap-Dashboard-master/assets/img/profile.jpg" alt="user"></div>
							<div class="u-text">
								<h4>Hizrian</h4>
								<p class="text-muted">hello@themekita.com</p><a href="profile.html" class="btn btn-rounded btn-danger btn-sm">View Profile</a>
							</div>
						</div>
					</li>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#"><i class="ti-user"></i> My Profile</a>
					<a class="dropdown-item" href="#"></i> My Balance</a>
					<a class="dropdown-item" href="#"><i class="ti-email"></i> Inbox</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#"><i class="ti-settings"></i> Account Setting</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#"><i class="fa fa-power-off"></i> Logout</a>
				</ul>
				<!-- /.dropdown-user -->
			</li>
		</ul>
	</div>
</nav>