<div class="sidebar">
	<div class="scrollbar-inner sidebar-wrapper">
		<ul class="nav">

			@await Component.InvokeAsync("_AdminPageUserComponents");
		

			<li class="nav-item">
				<a href="/QrCode/Index">
					<i class="la la-qrcode"></i>
					<p>QR Code İşlemleri</p>

				</a>
			</li>

			<li class="nav-item">
				<a href="/Products/ProductsList">
					<i class="la la-codepen"></i>
					<p>Ürünler</p>

				</a>
			</li>

			<li class="nav-item">
				<a href="/Category/CategoryList">
					<i class="la la-sitemap"></i>
					<p>Kategori İşlemleri</p>

				</a>
			</li>

			<li class="nav-item">
				<a href="/Contact/ContactList">
					<i class="la la-phone-square"></i>
					<p>İletişim</p>

				</a>
			</li>

			<li class="nav-item">
				<a href="/Testimonial/TestimonialList">
					<i class="la la-comments"></i>
					<p>Yorumlar</p>

				</a>
			</li>

			<li class="nav-item">
				<a href="/Discount/DiscountList">
					<i class="la la-tag"></i>
					<p>İndirimler</p>

				</a>
			</li>

			<li class="nav-item">
				<a href="/Feature/FeatureList">
					<i class="la la-repeat"></i>
					<p>Öne Çıkanlar</p>

				</a>
			</li>

			<li class="nav-item">
				<a href="/MenuTable/TableOccupancyRate">
					<i class="la la-tablet"></i>
					<p>Masalar</p>

				</a>
			</li>

			<li class="nav-item">
				<a href="/Notification/Index">
					<i class="la la-envelope"></i>
					<p>Bildirim İşlemleri</p>

				</a>
			</li>

			<li class="nav-item">
				<a href="/SocialMedia/SocialMediaList">
					<i class="la la-mobile"></i>
					<p>Sosyal Medya İşlemleri</p>

				</a>
			</li>


		</ul>
	</div>
</div>