@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_WebUILayout.cshtml";
}



<div class="hero_area">
    <div class="bg-box">
        <img src="~/feane-1.0.0/images/hero-bg.jpg" alt="">
    </div>
    <!-- header section strats -->
    <header class="header_section">
        <div class="container">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
                <a class="navbar-brand" href="index.html">
                    <span>
                        Ready Sipariş
                    </span>
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class=""> </span>
                </button>
                @await Component.InvokeAsync("_HomePageNavbarComponent")
                
            </nav>
        </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    @await Component.InvokeAsync("_HomePageSliderViewComponents")
    <!-- end slider section -->
</div>

<!-- offer section -->
@await Component.InvokeAsync("_HomePageDiscountComponents")


<!-- end offer section -->

<!-- end food section -->
<!-- about section -->
@await Component.InvokeAsync("_HomePageAboutComponents")

<!-- end about section -->
<!-- book section -->
@await Html.PartialAsync("/Views/HomePage/SendMessage.cshtml");
<!-- end book section -->
<!-- client section -->
@await Component.InvokeAsync("_HomePageTestimonialComponents")



