@{
	ViewData["Title"] = "TableOccupancyRate";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
	int count = 0;
}

<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>


<h4>Anlık Masa Durumları</h4>
<br />
<a href="/MenuTable/MenuTableList" class="btn btn-warning btn-block">Masa İşlemleri</a>
<br />
<div id="menutablelist"></div>





<script type="text/javascript">
	$(document).ready(() => {
		// 1. Bağlantıyı tanımla
		var connection = new signalR.HubConnectionBuilder()
			.withUrl("https://localhost:7042/SignalRHub")
			.withAutomaticReconnect() // Bağlantı koparsa kendi kendine tekrar denesin
			.build();

		// Bağlantı durumunu başta yaz
		$("#connstatus").text(connection.state);

		// 2. Veri Geldiğinde Ekrana Yaz (Dinleyiciler)

		connection.on("MenuTablesList0",(value)=>{

			let htmltabel = `<div class="row">`;

			var color=" ";

			var status;

			$.each(value,(index,item)=>{

	if (item.status == true)
	{
		color="card card-stats card-success";
		status="Masa Boş";
	}else{
		color="card card-stats card-danger"
		status="Masa Dolu";
	}

				htmltabel+=`<div class="col-md-3">
		<div class="${color}">
			<div class="card-body">
				<div class="row">
					<div class="col-5">
						<div class="icon-big text-center">
							<i class="la la-database"></i>
						</div>
					</div>
					<div class="col-7 d-flex align-items-center">
						<div class="numbers"> <p class="card-category">${item.name}</p>
				<h4 class="card-title">${status}</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>`


			});


			htmltabel+=`</div>`;
			$("#menutablelist").html(htmltabel);

		});

		// 3. Bağlantıyı Başlat
		connection.start().then(() => {
			$("#connstatus").text("Bağlandı");
			$("#connstatus").css("color", "green");
		}).catch((err) => {
			console.error(err);
			$("#connstatus").text("Bağlantı Hatası");
		});

		// 4. GÜVENLİ ZAMANLAYICI (Hata verdirmeyen kısım burası)
		setInterval(() => {
			// SADECE ve SADECE bağlantı varsa istek at
			if (connection.state === "Connected") {
				connection.invoke("MenuTablesList").catch(err => console.error(err));
			}
			// Bağlantı yoksa hiçbir şey yapma (Böylece hata sayısı artmaz)
		}, 1000);

	});
</script>