@model UpdateAbout
@{
	ViewData["Title"] = "UpdateAbout";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form class="form-valide" method="post" enctype="multipart/form-data">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header">
				<div class="card-title">Hakkımda Güncelleme Sayfası</div>
			</div>
			<input type="hidden" class="form-control" asp-for="AboutID" placeholder="@Model.AboutID">
			<div class="card-body">
				<div class="form-group">
					<label for="text">Başlık</label>
					<input type="text" class="form-control" asp-for="Title" placeholder="Kategori Adı">
				</div>

				<div class="form-group">
					<label for="text">Açıklama</label>
					<input type="text" class="form-control" asp-for="Description" placeholder="Kategori Adı">
				</div>

				<div class="form-group">
					<label for="text">Resim</label>
					<input type="file" class="form-control" asp-for="Image">
				</div>
			</div>
			<div class="card-action">
				<button class="btn btn-success" type="submit">Güncelle</button>
				<a class="btn btn-danger" href="/About/AddAbout">Geri</a>
			</div>
		</div>
	</div>
</form>

